body {
    background-color: rgb(0, 121, 191);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
}

.base {
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 20px;
    padding: 15px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: auto;
    width: 800px;
}

.header .left-aligned {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
    justify-self: flex-start;
}

.header .right-aligned {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
    justify-self: flex-end;
}

.board {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: max-content auto;
    margin: auto;
}

.board-header {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    width: 800px;
    border-radius: 10px;
}

.board-header-text {
    font-weight: bold;
}

.board-header .left {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-gap: 10px;
    justify-self: left;
}

.board-header .right {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 10px;
    justify-self: right;
}

.button, .button_submit, .button_delete {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 10px;
    text-align: center;
}

.button_submit {
    background-color: rgb(0, 121, 191);
}

.button_delete {
    background-color: rgb(255, 50, 50);
}

.board-lists, .board-lists-home {
    display: grid;
    grid-auto-columns: 550px;
    grid-auto-flow: column;
    grid-gap: 8px;
    height: max-content;
}

.board-lists-home {
    grid-auto-columns: 800px;
}

.board-list {
    background-color: rgb(235, 236, 240);
    border-radius: 10px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    height: max-content;
    padding: 10px;
}

.board-list-list {
    background-color: rgb(235, 236, 240);
    border-radius: 10px;
    display: block;
    width: fit-content;
    height: max-content;
    padding: 10px;
}

.list-title {
    font-weight: bold;
    font-size: 20px;
}

.card, .card_inactive, .card-home, .card-bh-list {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    vertical-align: middle;
}

.card-home {
    grid-template-columns: repeat(6, auto);
}

.card_inactive {
    color: rgb(236, 236, 236);
    background-color: rgb(205, 206, 207);
}

.card-bh-list {
    grid-template-columns: 2fr 2fr 1fr 3fr 1fr 2fr 2fr;
}

.card-text {

}

.add-card {
    padding-top: 10px;
    padding-bottom: 5px;
}

.horas {
    width: 4em;
    text-align: end;
}

input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
}

