{% extends 'base.html' %}

{% block title %}
Banco de Horas
{% endblock %}

{% block content %}
<div class="board">
    <div class="board-header">
        <div class="left">
            <div class="board-header-text">
                <div id="textData">
                </div>
                <div class="list-title">
                    {{ worker_name }}
                    <br>Total BH: <div id="total" style="display:inline;">{{ soma_approved }}h
                </div>
            </div>
            </div>
        </div>
        <div class="right">
            <form action="" method="POST" id="banco">
                <select id="workers" name="workers" onchange="this.form.submit()" required>
                    <option value="" disabled selected hidden>Colaborador</option>
                    <option value="Todos">Todos</option>
                    {% for item in workers %}
                    <option value="{{ item.name }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
                <span class="validity"></span>
            </form>
        </div>
    </div>

    <div class="board-lists-home">
        <div class="board-list">
            {% if entradas!=None %}
            {% for item in entradas %}
            <div class="card-bh-list" id="card_{{ item.id }}">
                <div>
                    {{ item.worker_id.name }}
                </div>
                <div id="data__{{ item.id }}">
                    {{ item.data }}
                </div>
                <div id="horas__{{ item.id }}">
                    {{ item.duration }}h
                </div>
                <div id="desc__{{ item.id }}">
                    {{ item.desc }}
                </div>
                <div>
                    <input type="checkbox" id="approved_{{ item.id }}" onchange="checkClick({{ item.id }}, '{{ worker_name }}')"
                           {% if item.approved %} checked{% endif %}>
                </div>
                <div>
                    <button type="button" class="button_submit" onclick="showHide('edit_card_{{ item.id }}', 'card_{{ item.id }}')">Editar</button>
                </div>
                <div>
                    <button type="button" class="button_delete" data-toggle="modal" data-target="#deleteModal" data-whatever="{{ item.id }}" data-who="{{ worker_name }}">Apagar</button>
                </div>
            </div>

            <div class="card-home" id="edit_card_{{ item.id }}" style="display:none;">
                <div>
                    {{ item.worker_id.name }}
                </div>
                <div>
                    <input type="date" id="data_{{ item.id }}" name="data"
                            value="{{ item.data }}"
                            min="2021-01-01" max="2025-12-31" required>
                    <span class="validity"></span>
                </div>
                <div>
                    <input type="number" id="horas_{{ item.id }}" name="horas" placeholder="0.0" value="{{ item.duration }}" step="0.5"
                           class="horas" required>
                    <label for="horas_{{ item.id }}">h</label>
                    <span class="validity"></span>
                </div>
                <div>
                    <input type="text" id="desc_{{ item.id }}" name="desc" placeholder="Descrição" value="{{ item.desc }}">
                </div>
                <div>
                    <button class="button_submit" type="submit" onclick="save({{ item.id }}, '{{ worker_name }}')">Gravar</button>
                </div>
                <div>
                    <button class="button_delete" type="submit" onclick="showHide('edit_card_{{ item.id }}', 'card_{{ item.id }}')">Cancelar</button>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Tem a certeza que deseja apagar esta entrada?<br>
              (id: <div id="theID" style="display: inline"></div>)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="deleteBh($('#theID').html(), $('.modal-body').html())">Apagar</button>
      </div>
    </div>
  </div>
</div>

<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      var worker = button.data('who') // Extract info from data-* attributes
      var modal = $(this)
      modal.find('#theID').html(recipient)
      modal.find('.modal-body').html(worker)
    });

    function showHide(theIDshow, theIDhide) {
        console.log(theIDshow);
        var x = document.getElementById(theIDshow);
        var y = document.getElementById(theIDhide);
        if (x.style.display === "none") {
            x.style.display = "grid";
            y.style.display = "none";
        } else {
            x.style.display = "none";
            y.style.display = "grid";
        }
    }

    function checkClick(chkId, worker_name) {
        checked = ""
        if($("#approved_" + chkId).is(":checked")) {
            checked = true;
        } else {
            checked = false;
        }

        $.ajax({
            url: "update_chk",
            type: "get",
            data: {
                chkid: chkId,
                ischecked: checked,
                worker_n: worker_name},
            success: function (result,status,xhr) {
                $("#total").html(result + "h");
            }
        });
    }

    function save(chkId, worker_name) {
        data_ = $("#data_" + chkId).val();
        horas_ = $("#horas_" + chkId).val();
        desc_ = $("#desc_" + chkId).val();

        $.ajax({
            url: "update_bh",
            type: "post",
            data: {
                chkid: chkId,
                data: data_,
                horas: horas_,
                desc: desc_,
                worker_n: worker_name},
            success: function (result,status,xhr) {
                $("#total").html(result + "h");
            }
        });
        showHide('edit_card_' + chkId, 'card_' + chkId)
        $("#data__" + chkId).html(data_);
        $("#horas__" + chkId).html(horas_ + "h");
        $("#desc__" + chkId).html(desc_);
    }

    function deleteBh(chkId, worker_) {
        $.ajax({
            url: "delete_bh",
            type: "post",
            data: {
                chkid: chkId,
                worker_n: worker_},
            success: function (result,status,xhr) {
                $("#total").html(result + "h");
            }
        });
        var x = document.getElementById('card_' + chkId);
        x.style.display = "none";
    }
</script>

{% endblock %}