{% extends 'base.html' %}

{% block title %}
Banco de Horas
{% endblock %}

{% block content %}
<br/><br/>
<div class="board">
    <div class="board-header">
        <div class="left">
            <div class="board-header-text">
                <div id="textData"></div>
                <form action="" method="POST" id="banco">
                    <select id="workers" name="workers" onchange="this.form.submit()" required>
                        <option value="" disabled selected hidden>Colaborador</option>
                        <option value="Todos">Todos</option>
                        {% for item in workers %}
                        <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                    <span class="validity"></span>
                </form>
                &nbsp;<br>
                <div class="list-title">
                {{ worker_name }}
                <br>Total BH: <div id="total" style="display:inline;">{{ soma_approved }}h</div>
            </div>
            </div>
        </div>
    </div>
    <div class="board-lists-home">
        <div class="board-list">
            {% if entradas!=None %}
            {% for item in entradas %}
            <div class="card-bh-list" id="card_{{ item.id }}">
                <div>
                    {{ item.worker_id.name }}
                </div>
                <div>
                    {{ item.data }}
                </div>
                <div>
                    {{ item.duration }}h
                </div>
                <div>
                    {{ item.desc }}
                </div>
                <div>
                    <input type="checkbox" id="approved_{{ item.id }}" onchange="checkClick({{ item.id }}, '{{ worker_name }}')"
                           {% if item.approved %} checked{% endif %}>
                </div>
                <div id="button_submit_{{ item.id }}">
                    <button class="button_submit" onclick="showHide('edit_card_{{ item.id }}', 'card_{{ item.id }}')">Editar</button>
                </div>
                <div>
                    <div class="button_delete">Apagar</div>
                </div>
            </div>

            <div class="card-home" id="edit_card_{{ item.id }}" style="display:none;">
                <div>
                    {{ item.worker_id.name }}
                </div>
                <div>
                    <input type="date" id="data_{{ item.id }}" name="data"
                            value="{{ item.data }}"
                            min="2021-01-01" max="2025-12-31" required>
                    <span class="validity"></span>
                </div>
                <div>
                    <input type="number" id="horas_{{ item.id }}" name="horas" placeholder="0.0" value="{{ item.duration }}" step="0.5"
                           class="horas" required>
                    <label for="horas_{{ item.id }}">h</label>
                    <span class="validity"></span>
                </div>
                <div>
                    <input type="text" id="desc_{{ item.id }}" name="desc" placeholder="Descrição" value="{{ item.desc }}">
                </div>
                <div>
                    <input type="checkbox" id="is_approved_{{ item.id }}" {% if item.approved %} checked{% endif %}>
                </div>
                <div>
                    <button class="button_submit" type="submit" form="banco" name="action" value="Submit_banco">Gravar</button>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    function showHide(theIDshow, theIDhide) {
        console.log(theIDshow);
        var x = document.getElementById(theIDshow);
        var y = document.getElementById(theIDhide);
        if (x.style.display === "none") {
            x.style.display = "grid";
            y.style.display = "none";
        } else {
            x.style.display = "none";
            y.style.display = "grid";
        }
    }

    function checkClick(chkId, worker_name) {
        checked = ""
        if($("#approved_" + chkId).is(":checked")) {
            checked = true;
        } else {
            checked = false;
        }

        $.ajax({
            url: "update_chk",
            type: "get",
            data: {
                chkid: chkId,
                ischecked: checked,
                worker_n: worker_name},
            success: function (result,status,xhr) {
                $("#total").html(result + "h");
            }
        });
    }

    function save(chkId) {
        checked = ""
        if($("#approved_" + chkId).is(":checked")) {
            checked = true;
        } else {
            checked = false;
        }

        $.ajax({
            url: "update_chk",
            type: "get",
            data: {
                chkid: chkId,
                ischecked: checked},
            success: function (result,status,xhr) {
                $("#textData").html(result);
            }
        });
    }

</script>

{% endblock %}